.cartitem {
  /* padding: 1rem; */
  margin: 1rem;
  display: grid;
  grid-template-columns: 1.75fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  border: 1px solid #4e4b4d;
  border-radius: 20px;
  place-items: center;
}

.cartitem > div {
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-right: 1px solid #4e4b4d;
  display:flex;
  align-items: center;
}

.cartitem__image > img {
  border-radius: 10px;
}

.cartitem__name,
.cartitem__price,
.cartitem__select {
  margin: 0 auto;
}

.cartitem__name {
  text-decoration: none;
  color: #efdab9;
  font-weight: 600;
  font-size: 1.4rem;
}

.cartitem__price {
  color: #efdab9;
  font-size: 1.2rem;
  font-weight: 600;
}

.cartitem__select,
.cartitem__deleteBtn {
  padding: .625rem 1rem;
  font-weight: 600;
  color: #efdab9;
  background: #4e4b4d;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartitem__deleteBtn:hover,
.cartitem__deleteBtn:focus,
.cartitem__deleteBtn:active {
  background: #292728;
  color: #B61E1E;
}

@media (max-width: 750px) {
  .cartitem {
    display: flex;
    flex-direction: column;
  }

  .cartitem > div {
    border-right:none;
    border-bottom: 1px solid #4e4b4d;
  }
  .cartitem__deleteBtn {
    margin: 1rem;
  }
}
